body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.main {
    margin-inline: auto;
    width: 80%;
}

form.main div {
    height: 1.1cm; 
    border: 1px solid grey; 
    border-radius: 5px;
}

form.main div input[type=text] {
    padding: inherit;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    height: 100%;
    background: #f1f1f1;
}

form.main div button {
    padding: inherit;
    float: left;
    width: 20%;
    height: 100%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

form.main button:hover {
    background: #0b7dda;
}

form.main::after {
    content: "";
    clear: both;
    display: table;
}

#example {
    margin-top: .5mm; 
    margin-bottom: .5mm;
}

#feeds {
    margin-bottom: 0.2cm;
    border-collapse: collapse;
}

.item {
    margin-inline: 50%;
}

#btn {
    color: blue;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
}